"""
Fill the parameters and rename this file into wandb_settings.py
"""
import os

os.environ['WANDB_ENTITY'] = ''             # username
os.environ['WANDB_API_KEY'] = ''            # API key
os.environ['WANDB_PROJECT'] = 'AML-ADDA'    # project name